.tab-group{
  width: full;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.tab-group2{
  width: full;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.tab{
  width: 180px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  cursor:pointer;
  background-color: #e3e3e3;
  color: #929292;
  border-radius: 5px;
  user-select: none;
  transition: .4s;
}

.tab2{
  width: 180px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  cursor:pointer;
  background-color: #e3e3e3;
  color: #929292;
  border-radius: 5px;
  user-select: none;
  transition: .4s;
}

.tab:hover{
  background-color: rgb(198, 196, 196);
}

.tab.is-active:hover{
  background-color: #1b3b88;
}

.tab2:hover{
  background-color: rgb(198, 196, 196);
}

.tab2.is-active:hover{
  background-color: #1b3b88;
}

.panel-group{
  margin-top: 25px;
  height: auto;
  border:solid 3px #c4d6ff;
  border-radius: 6px;
  padding: 10px;
}

.panel2-group{
  margin-top: 25px;
  height: auto;
  border:solid 3px #c4d6ff;
  border-radius: 6px;
  padding: 10px;
}

.panel{
  display:none;
}

.panel2{
  display:none;
}

.tab.is-active{
  background-color: #00216f;
  color: white;
  transition: all 0.2s ease-out;
}

.tab2.is-active2{
  background-color: #00216f;
  color: white;
  transition: all 0.2s ease-out;
}

.panel.is-show{
  margin-top: 10px;
  display:block;
  border-radius: 5px;
}

.panel2.is-show2{
  margin-top: 10px;
  display:block;
  border-radius: 5px;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

.img_div{
  margin-top: 40px;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;/*アスペクト比（縦横比）を指定 */

  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}

.map{
  padding: 10px;
  width: fit-content;
  margin: auto;
  justify-content: center;
  border: 3px solid #c4d6ff;
  border-radius: 10px;
}

.main-sp{
  text-align: center;
  color: rgb(69, 69, 69);
}

.main-sp2{
  text-align: center;
  color: rgb(69, 69, 69);
  margin-top: 50px;
  margin-bottom: 50px;
}

.faq-main{
  color: rgb(69, 69, 69);
  margin-top: 30px;
  margin-left: auto; 
  margin-right: auto; 
  justify-content: center;

}

.detail{
  margin-bottom: 20px;
  font-size: large;
  
}


details > summary {
  cursor: pointer;
  list-style: none;
  padding: 10px 20px;
  background-color: rgb(212, 241, 252);
  border-radius: 5px;
  transition: .4s;
}
 
details > summary:hover{
  background-color: #00216f;
  color: white;
}
details > p {
  margin: 0;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  border: solid 2px rgb(212, 241, 252);
}

table{
  margin: auto;
}

.formlink{
  padding-top: 20px;
  cursor: pointer;
  background: linear-gradient(currentColor 0 0) var(--p, 0) 100% /var(--d, 0) 3px no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
  text-decoration:none
}

.formlink:hover{
  --d: 100%;
  --p: 100%;
}

